---
import Badge from "./Badge.astro";

interface Props {
  jobTitle: string;
  companyName: string;
  startDate: string;
  endDate: string;
  description: string;
  companyLogoURL: string;
  technologies: string[];
}

const {
  jobTitle,
  companyName,
  startDate,
  endDate,
  description,
  companyLogoURL,
  technologies,
} = Astro.props;
---

<div class="relative pl-4 border-l-2 border-neutral-200">
  <div class="flex">
    <img
      class="w-6 h-6 p-1 rounded-full ring-1 ring-gray-300 dark:ring-gray-500"
      src={companyLogoURL}
      alt="Default avatar"
    />
    <h3 class="font-bold ml-2 text-base md:text-lg">{companyName}</h3>
  </div>
  <p class="text-neutral-600 text-sm md:text-base mt-2">
    {jobTitle} • {startDate} - {endDate}
  </p>
  <p class="mt-2 text-neutral-700 text-sm md:text-base">{description}</p>
  {
    technologies &&
      technologies.map((tech) => <Badge text={tech} class="mt-4" />)
  }
</div>
