---
import Badge from "./Badge.astro";

interface Props {
  timeline: string;
  companyName: string;
  description: string;
  companyLogoURL: string;
  technologies: string[];
}

const { timeline, companyName, description, companyLogoURL, technologies } =
  Astro.props;
---

<div class="-start-4 relative">
  <div class="flex items-center">
    <img
      class="w-8 h-8 border-gray-200 border-3 rounded-full"
      src={companyLogoURL}
      alt={`Logo of ${companyName}`}
      width="32"
      height="32"
      loading="lazy"
    />
    <h3 class="font-bold ml-2 text-base md:text-lg">
      {companyName}
    </h3>
  </div>
  <div class="ml-10">
    <p class="text-neutral-600 text-sm md:text-base">
      {timeline}
    </p>
    <p class="mt-3 md:mt-4 text-neutral-700 text-sm md:text-base">
      {description}
    </p>
    {
      technologies &&
        technologies.map((tech) => <Badge text={tech} class="mt-4" />)
    }
  </div>
</div>